.PortfolioContainer {
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
  background-color: #FFF3E2;

}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #DF5E5E;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 90px;

}

header .logo h3 a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

header .logo h3 a:hover {
  color: #492F10;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.2s;

}

nav ul li a:hover {
  color: #492F10;
}

/* About me */
.main-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;

}

.title-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: solid 5px #492F10;
  color: #492F10;


}

.title-container h1 {
  font-weight: 600;
}

.img-container {
  text-align: center;

}

.text-container {
  padding-top: 30px;
}

.profileImg {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/* portfolio */
#githubLink {
  margin-left: 10px;
}

.card-container {
  padding-top: 20px;
}

.card-title {
  text-align: center;
}

.project-img {

  object-fit: cover;
}

.project-container {
  width: auto;
}

.linkBtn-container {
  text-align: center;
}

.linkBtn-container .btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:visited,
.btn-light:focus {
  background-color: #E98580;
  border-color: #E98580;
  color: white;
}

.linkBtn-container .btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
  background-color: #DF5E5E;
  border-color: #DF5E5E;
  color: white;
}

.submitBtn-container {
  text-align: center;
}

.card-style {

  box-shadow: 9px 5px 23px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 5px 23px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 5px 23px -5px rgba(0, 0, 0, 0.75);
}

/* Contact */
.errorMsg {
  color: red;

}

.msgOk {
  text-align: center;
  color: green;
  margin-top: 15px;
}

.submitBtn-container {
  margin-top: 30px;
}

.submitBtn-container .btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
  background-color: #DF5E5E;
  border-color: #DF5E5E;
  color: white;
}

lavel {
  color: #492F10;
  font-weight: 600;
}


/* Resume */
.dwnloadText a {
  cursor: pointer;

}

.frontEnd-skills-container h3 {
  font-weight: 600;
  color: #492F10;
}

.backEnd-skills-container h3 {
  font-weight: 600;
  color: #492F10;
}


/* footer */



footer {
  position: absolute;
  bottom: 0;
  background-color: #E98580;
  width: 100%;
  height: 100px;
  font-size: large;


}

.icon-container {
  display: flex;
  padding-top: 10px;

}

.githubIcon-container {
  text-align: end;
  flex: 33%;
}

.linkedInIcon-container {
  text-align: center;

  flex: 33%;
}

.facebookIcon-container {
  text-align: start;
  flex: 33%;
}

footer div a {
  color: white;
  cursor: pointer;

}

footer div a:hover {
  color: #492F10;
}

.copyText-container {
  color: white;
  text-align: center;
  padding-top: 15px;


}



@media (max-width: 765px) {
  .project-container {
    gap: 20px;
  }
}

@media (max-width: 571px) {


  .logo {
    margin-left: 30px;
  }
}